<h2>Create Staff Member For <%= @school.name %></h2>
<%= form_with url: "/schools/#{@school.id}/staff_members/?school_id=#{@school.id}", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :role %>
  <%= form.text_field :role %>
  <%= form.label :department %>
  <%= form.text_field :department %>
  <%= form.label :pay_rate %>
  <%= form.text_field :pay_rate %>
  <%= form.label :pay_type %>
  <%= form.text_field :pay_type %>
  <%= form.label :qualified_instructor_true_false %>
  <%= form.text_field :qualified_instructor %>
  <%= form.submit :create_staff_member, name: "Create Staff Member" %>
<% end %>
