<p>Go To: <a href='/schools/'>Schools Index</a>  |  <a href='/staff_members/'>Staff Members Index</a> </p>
<h2>District Staff Index</h2>
<table>
  <tr>
    <th>Staff ID</th>
    <th>Name</th>
    <th>School</th>
    <th>Qualified As Instructor?<th>
    <th>Role</th>
    <th>Department</th>
    <th>Courses</th>
    <th>Pay Type</th>
    <th>Pay Rate</th>
    <th>Date Added</th>
    <th>Last Updated</th>
    <th>Active Employee</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @staff_members.each_with_index do |staff_member, index|%>
    <tr>
        <div id="table_row_<%= index %>">
        <td><%= staff_member.id %></td>
        <td><%= staff_member.name %></td>
        <td><%= staff_member.school_id %></td>
        <td><%= staff_member.qualified_instructor %></td>
        <td><%= staff_member.role %></td>
        <td><%= staff_member.department %></td>
        <td><%= staff_member.courses %></td>
        <td><%= staff_member.pay_type %></td>
        <td><%= staff_member.pay_rate %></td>
        <td><%= staff_member.created_at %></td>
        <td><%= staff_member.updated_at %></td>
        <td><%= staff_member.active_employee %></td>
        <td><a href="/staff_members/<%= staff_member.id %>/edit/">Edit</a></td>
        <td><%= button_to "Delete: #{staff_member.name}", "/staff_members/#{staff_member.id}/", method: :delete, name: "Delete #{staff_member.name}" %>
        </div>
    </tr>
  <% end %>
</table>
