<p>Go To: <a href='/schools/'>Schools Index</a>  |  <a href='/staff_members/'>Staff Members Index</a> </p>
<h2>Schools Index</h2>
<table>
  <tr>
    <th>School ID</th>
    <th>School</th>
    <th>Address</th>
    <th>public/private</th>
    <th>State Score</th>
    <th>Grades Served</th>
    <th>Student Capacity</th>
    <th>Accepting New Students?</th>
    <th>Calendar Structure</th>
    <th>Date Added</th>
    <th>Last Updated</th>
    <th>Info</th>
    <th>Edit</th>
  </tr>
  <% @schools.each_with_index do |school, index| %>
    <tr>
      <div id="school-<%= index %>"">
        <td><%= school.id %></td>
        <td><%= school.name %></td>
        <td><%= school.mailing_address %></td>
        <td><%= school.is_public %></td>
        <td><%= school.state_rating %></td>
        <td><%= school.grades_served %></td>
        <td><%= school.max_student_capacity %></td>
        <td><%= school.accepting_new_students %></td>
        <td><%= school.calendar_structure %></td>
        <td><%= school.created_at %></td>
        <td><%= school.updated_at %></td>
        <td><a href="/schools/<%= school.id %>/" >Info</a></td>
        <td><a href="/schools/<%= school.id %>/edit/">Edit</a></td>
      </div>
    </tr>
  <% end %>
</table>
<a href="/schools/new/">New School</a>
