<p>Go To: <a href='/schools/'>Schools Index</a>  |  <a href='/staff_members/'>Staff Members Index</a>  |  <a href='/schools/<%= @school.id %>/staff_members/'><%= @school.name %>'s Staff Members'</a>  |  </p>
<h2><%= @school.name %></h2>
<ul>
  <li>ID: <%= @school.id %></li>
  <li>Address: <%= @school.mailing_address %></li>
  <li>Total Staff: <%= @staff_count %></li>
  <li>Public / Private: <%= @school.is_public %></li>
  <li>State Score: <%= @school.state_rating %></li>
  <li>grades served: <%= @school.grades_served %></li>
  <li>Student Capacity: <%= @school.max_student_capacity %></li>
  <li>Accepting New Enrollments: <%= @school.accepting_new_students %></li>
  <li>Calendar Structure: <%= @school.calendar_structure %></li>
  <li>Date Added: <%= @school.created_at %></li>
  <li>Date Updated: <%= @school.updated_at %></li>
</ul>

<p><a href="/schools/<%= @school.id %>/edit/"">Update School</a>  |  <%= button_to "Delete School", "/schools/#{@school.id}/", method: :delete %></p>
<!-- <table>
  <tr>
    <th>School ID</th>
    <th>School</th>
    <th>Address</th>
    <th>public/private</th>
    <th>State Score</th>
    <th>Grades Served</th>
    <th>Student Capacity</th>
    <th>Accepting New Students?</th>
    <th>Calendar Structure</th>
    <th>Date Added</th>
    <th>Last Updated</th>
  </tr>
  <tr>
    <td><%= @school.id %></td>
    <td><%= @school.name %></td>
    <td><%= @school.mailing_address %></td>
    <td><%= @school.is_public %></td>
    <td><%= @school.state_rating %></td>
    <td><%= @school.grades_served %></td>
    <td><%= @school.max_student_capacity %></td>
    <td><%= @school.accepting_new_students %></td>
    <td><%= @school.calendar_structure %></td>
    <td><%= @school.created_at %></td>
    <td><%= @school.updated_at %></td>
  </tr>
</table> -->
